@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playwrite+AU+NSW:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --primary : #80482F;
    --bg : #5F2C17;
}



* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    scroll-behavior: smooth;    
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 1.4rem 7%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    position: fixed;
    height: 14rem;
    font-weight: 600;
    font-family: 'Playwrite' ;
}



.navbar .navbar-left,
.navbar .navbar-right {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(82, 30, 30, 0.2);
    
    background-color: rgba(56, 28, 17, 0.6); /* → your #381C11 with transparency */
    padding: 0.8rem 2%;
    border-radius: 999px;

    border: .1rem solid rgba(196, 116, 51, 0.3);
}

.navbar .navbar-left a,
.navbar .navbar-right a {
    color: #EADDD7;
    display: inline-block;
    font-size: 1rem;
    margin: 0 3rem;
    padding: 0.4rem 1.2rem;
    border-radius: 8px;
    transition: transform 0.25s ease,
                color 0.25s ease,
                background-color 0.25s ease,
                backdrop-filter 0.25s ease;
}

.navbar .navbar-left a:hover,
.navbar .navbar-right a:hover {
    transform: scale(1.15);
}





/* Logo */
.nav-logo {
    height: 10rem;
    transition: 0.3s;
}

.nav-logo-wrapper {
    position: absolute;
    top: 7.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;
    z-index: 5;
}




/* HERO */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    cursor: default;
    justify-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../assets/bg.png);
    background-size: cover;
    background-color: #381C11;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
}

.hero .content {
    padding: 1.4rem 7%;
    
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    justify-items: center;
    text-align: center;
}

.hero .content h1 {
    font-size: 3.3rem;
    color: #EADDD7;
    padding-top: 0;
    line-height: 1.2;
    text-shadow: 2px 4px #381C11;
    padding-top: 4rem;
}

.hero .content p {
    opacity: 95%;
    font-size: 1.2rem;
    padding-bottom: 1.1rem;
    padding-top: 1.2rem;
    color: #ECE0DB;
    text-shadow: 2px 2px #381C11;
}

.hero .content .cta {
    font-size: 1.1rem;
    color: #EADDD7;
    cursor: pointer;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(82, 30, 30, 0.2);
    
    background-color: rgba(56, 28, 17, 0.6); /* → your #381C11 with transparency */
    padding: 0.8rem 2%;
    border-radius: 999px;

    border: .1rem solid rgba(196, 116, 51, 0.3);
}

.hero .content .cta:hover {
    transform: scale(1.10);
}




/* HISTORY */
.history {
    height: 100vh;
    background-color: #381C11;
    display: flex;
    align-items: center;
    cursor: default;
   justify-items: center;
}

.heading {
    text-align: center;
    font-size: 2rem;
    color: #EADDD7;
    padding: 1.4rem 7%;
    margin: 0 auto;
}
















/* FOOD */
.food {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    cursor: default;
    justify-items: center;
    background-size: cover;
}